p {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: black;
}


.containerList {
  min-height: 100vh;
  background-color: #cecdcd;
  width: 100%;

  .contentList {
    position: relative;
    width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #E5E5E5;

    .mat-tab-group {

      .userInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        height: 80px;
        background-color: #ffffff;
        margin-bottom: 18px;
        border-radius: 4px;

        .mainInfo {
          display: flex;
          align-items: center;

          .avaName {
            display: flex;
            align-items: center;

            .ava {
              width: 48px;
              height: 48px;
              border-radius: 50%;
            }

            p {
              margin-left: 16px;
            }
          }

          .balance {
            margin-left: 30px;
          }
        }

        .dateStatus {
          margin-right: 30px;
          display: flex;

          .chage {
            color: #A8A8A8;
          }

          .status {
            margin-left: 54px;
          }
        }
      }

      .userInfo:hover {
        cursor: pointer;
      }
    }

    .preloader {
      position: fixed;
      top: 55px;
      height: 97vh;
      width: 1440px;
      z-index: 15;
    }
  }
}

@media screen and (max-width: 1440px) {
  .containerList {
    .contentList {
    width:100%;
    }
    }
  }

@media screen and (max-width: 1100px) {
  p {
    font-size: 15px;
  }
  .containerList {
    .contentList {
      .mat-tab-group {
          
        .userInfo {
          .mainInfo {
            .avaName {
              .ava {
                width: 40px;
                height: 40px;
              }
               p {
              margin-left: 16px;
            }
          }
          .balance {
            margin-left: 20px;
          }
        }
        .dateStatus {
          margin-right: 30px;
          .status {
            margin-left: 30px;
          }
          }
        }
      }
    }
  }
}

